<div class="container">
<table class="table table-hover table-striped">
  <thead>
      <tr>
        <th>Manhã</th>
        <th>Tarde</th>
        <th>Noite</th>
        <th>EAD</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eventos</td>
      <td>Análise e Desenvolvimento de Sistemas</td>
      <td>Análise e Desenvolvimento de Sistemas</td>
      <td>Gestão empresarial</td>
    </tr>
    <tr>
      <td>Gestão Comercial</td>
      <td></td>
      <td>Gestão Comercial</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Recursos Humanos</td>
      <td></td>
    </tr>
  </tbody>
</table>

</div>
